{{>layouts/header}}

<!--내용-->
<div class="container">
    <h1>관리자 페이지</h1>

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panels-editMyInfo" aria-expanded="false" aria-controls="panels-editMyInfo">
                    선물 추가 하기
                </button>
            </h2>
            <div id="panels-editMyInfo" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <form class="container" action="/gift/AddGift" method="post">
                        <table class="table">
                            <tr>
                                <th scope="col">선물 명</th>
                                <td><input type="text" name="g_name"></td>
                            </tr>
                            <tr>
                                <th scope="col">선물 주인</th>
                                <td><select name="g_giftOwnerName">
                                    {{#MemberDTOs}}
                                        <option>{{m_name}}</option>
                                    {{/MemberDTOs}}
                                </select></td>
                            </tr>
                            <tr>
                                <th scope="col">설명</th>
                                <td><input type="text" name="g_about"></td>
                            </tr>
                        </table>
                        <button type="submit" class="btn btn-dark"> 선물 추가 </button>
                        <input type="reset"	value="reset" class="btn btn-dark">

                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panels-MyGift" aria-expanded="false" aria-controls="panels-MyGift">
                    선물 목록
                </button>
            </h2>
            <div id="panels-MyGift" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <table class="table">
                        <tr>
                            <th scope="col">no</th>
                            <th scope="col">선물 명</th>
                            <th scope="col">선물 주인 번호 </th>
                            <th scope="col">등록일</th>
                            <th scope="col">최종 수정일</th>
                            <th scope="col">설명</th>
                            <th scope="col"></th>
                        </tr>
                        <tbody>
                        {{#GiftDTOs}}

                            <tr align="center" style="cursor:pointer;">
                                <td>{{g_no}}</td>
                                <td>{{g_name}}</td>
                                <td>{{g_giftOwner_no}}</td>
                                <td>{{g_reg_date}}</td>
                                <td>{{g_mod_date}}</td>
                                <td>{{g_about}}</td>
                                <td> <button type="button" onClick="location.href='/gift/giftDelete?g_no={{g_no}}'" class="btn btn-dark">삭제</button> </td>
                            </tr>
                        {{/GiftDTOs}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panels-MyLikePoint" aria-expanded="false" aria-controls="panels-MyLikePoint">
                    특별 선물 목록
                </button>
            </h2>
            <div id="panels-MyLikePoint" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <table class="table">
                        <tr>
                            <th scope="col">no</th>
                            <th scope="col">특별 선물 명</th>
                            <th scope="col">이미지</th>
                            <th scope="col">선물 주인 번호</th>
                            <th scope="col">등록일</th>
                            <th scope="col">최종 수정일</th>
                            <th scope="col"></th>
                        </tr>
                        <tbody>
                        {{#SpecialGiftDTOs}}

                            <tr align="center" style="cursor:pointer;">
                                <td>{{sg_no}}</td>
                                <td>{{sg_name}}</td>
                                <td><img src="{{sg_filePath}}" width="200px" height="200px"></td>
                                <td>{{sg_ownner_no}}</td>
                                <td>{{sg_reg_date}}</td>
                                <td>{{sg_mod_date}}</td>
                                <td> <button type="button" class="btn btn-dark" onClick="location.href='/SpecialGift/deleteSpecialGift?sg_no={{sg_no}}'">삭제</button> </td>
                            </tr>
                        {{/SpecialGiftDTOs}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panels-MySpecialGift" aria-expanded="false" aria-controls="panels-MySpecialGift">
                    멤버 정보 변경
                </button>
            </h2>
            <div id="panels-MySpecialGift" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <table class="table">
                        <tr>
                            <th scope="col">no</th>
                            <th scope="col">관리자 여부</th>
                            <th scope="col">ID</th>
                            <th scope="col">PW</th>
                            <th scope="col">이름</th>
                            <th scope="col">성별</th>
                            <th scope="col">메일</th>
                            <th scope="col">전화번호</th>
                            <th scope="col">등록일</th>
                            <th scope="col">최종 수정일</th>
                            <th scope="col">코인</th>
                            <th scope="col">수정</th>
                        </tr>
                        <tbody>
                        {{#MemberDTOs}}
                            <tr align="center" style="cursor:pointer;">
                                <form class="container" action="/manager/editMember" method="post">
                                    <td>{{m_no}}<input type="hidden"  name="m_no"     value={{m_no}}></td>
                                    <td><input type="text"  name="m_isAdmin"     value={{m_isAdmin}}></td>
                                    <td><input type="text"  name="m_id" 	     value={{m_id}}></td>
                                    <td><input type="text"  name="m_pw" 	     value={{m_pw}}></td>
                                    <td><input type="text"  name="m_name"     value={{m_name}}></td>
                                    <td><input type="text"  name="m_gender"     value={{m_gender}}></td>
                                    <td><input type="text"  name="m_mail" 	     value={{m_mail}}></td>
                                    <td><input type="text"  name="m_phone" 	     value={{m_phone}}></td>
                                    <td>{{m_reg_date}}></td>
                                    <td>{{m_mod_date}}></td>
                                    <td><input type="text"  name="m_coin" 	     value={{m_coin}}></td>

                                    <td><button type="submit" class="btn btn-dark"> 수정 확인 </button></td>
                                </form>
                            </tr>
                        {{/MemberDTOs}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{>layouts/footer}}