{{>layouts/header}}
<!--내용-->
<div class="container">
    <h1>MY PAGE</h1>

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panels-editMyInfo" aria-expanded="false" aria-controls="panels-editMyInfo">
                    내 정보 수정 하기
                </button>
            </h2>
            <div id="panels-editMyInfo" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <form class="container" action="/myPage/editMember" method="post">
                        <table class="table">
                            {{#MemberDTO}}
                                <input type="hidden" name="m_no" value={{m_no}}>
                                <input type="hidden"  name="m_isAdmin"value={{m_isAdmin}}>
                                <tr>
                                    <th scope="col">ID</th>
                                    <td><input type="text"  name="m_id" 	     value={{m_id}}></td>
                                </tr>
                                <tr>
                                    <th scope="col">PW</th>
                                    <td><input type="text"  name="m_pw" 	     value={{m_pw}}></td>
                                </tr>
                                <tr>
                                    <th scope="col">이름</th>
                                    <td><input type="text"  name="m_name"     value={{m_name}}></td>
                                </tr>
                                <tr>
                                    <th scope="col">성별</th>
                                    <td><input type="text"  name="m_gender"     value={{m_gender}}></td>
                                </tr>
                                <tr>
                                    <th scope="col">메일</th>
                                    <td><input type="text"  name="m_mail" 	     value={{m_mail}}></td>
                                </tr>
                                <tr>
                                    <th scope="col">전화번호</th>
                                    <td><input type="text"  name="m_phone" 	     value={{m_phone}}></td>
                                </tr>
                                <tr>
                                    <th scope="col">등록일</th>
                                    <td>{{m_reg_date}}</td>
                                </tr>
                                <tr>
                                    <th scope="col">최종 수정일</th>
                                    <td>{{m_mod_date}}</td>
                                </tr>
                                <tr>
                                    <th scope="col">코인</th>
                                    <td>{{m_coin}}</td>
                                </tr>{{/MemberDTO}}
                        </table>
                        <button type="submit" class="btn btn-dark"> 수정 확인 </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panels-MyGift" aria-expanded="false" aria-controls="panels-MyGift">
                    획득 선물
                </button>
            </h2>
            <div id="panels-MyGift" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <table class="table">
                        <tr>
                            <th scope="col">선물 명</th>
                            <th scope="col">획득일</th>

                            <th scope="col"></th>
                        </tr>
                        <tbody>
                        {{#MyItems}}
                            <tr align="center" style="cursor:pointer;">
                                <td>{{i_name}}</td>
                                <td>{{i_reg_date}}</td>
                            </tr>
                        {{/MyItems}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panels-MyLikePoint" aria-expanded="false" aria-controls="panels-MyLikePoint">
                    호감도 현황
                </button>
            </h2>
            <div id="panels-MyLikePoint" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <table class="table">
                        <tr>
                            <th scope="col">이름</th>
                            <th scope="col">호감도</th>
                        </tr>
                        <tbody>
                        {{#LikePointDTOs}}
                            <tr align="center" style="cursor:pointer;">
                                <td>{{name}}<input type="hidden"  name="name"     value={{name}}></td>
                                <td>{{point}}<input type="hidden"  name="point"     value={{point}}></td>
                            </tr>
                        {{/LikePointDTOs}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panels-MySpecialGift" aria-expanded="false" aria-controls="panels-MySpecialGift">
                    내 특별 선물 수정
                </button>
            </h2>
            <div id="panels-MySpecialGift" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <form class="container" action="/SpecialGift/addMySpecialGift" method="post" enctype="multipart/form-data">
                        <input type="file"  name="sg_giftImage" class="btn btn-dark">
                        <td><button type="submit" class="btn btn-dark"> 추가 / 수정 하기 </button></td>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panels-MySpecialGiftHave" aria-expanded="false" aria-controls="panels-MySpecialGiftHave">
                    보유 특별 선물
                </button>
            </h2>
            <div id="panels-MySpecialGiftHave" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <table class="table">
                        <tr>
                            <th scope="col">특별 선물 명</th>
                            <th scope="col">이미지</th>
                            <th scope="col"></th>
                        </tr>
                        <tbody>
                        {{#SpecialGiftDTOs}}
                            <tr align="center" style="cursor:pointer;">
                                <td>{{sg_name}}</td>
                                <td><img src="{{sg_filePath}}" width="200px" height="200px"></td>
                            </tr>
                        {{/SpecialGiftDTOs}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{{>layouts/footer}}
