{{>layouts/header}}
<!--내용-->
<!-- 리스트 게시판 시작-->
<div class="container">
<h1>글 쓰기</h1>
    <form class="container" action="/board/boardToUpdatePost_Confirm" method="post">
        <table class="table">
            <tr>
                <th scope="col">제목</th>
                <td><input type="text" name="b_name" value="{{b_name}}"></td>
            </tr>
            <tr>
                <th scope="col">받는 사람</th>
                <td>{{b_receiver_m_name}}</td>
            </tr>
            <tr>
                <th scope="col">보낼 선물</th>
                <td>{{b_gift}}</td>
            </tr>
            <tr>
                <th scope="col">내용</th>
                <td><input type="text" name="b_context" value="{{b_context}}"><br></td>
            </tr>
        </table>
        <input type="hidden" name="b_no" value={{b_no}}>


        <button type="submit" class="btn btn-dark"> 글 수정 </button>
        <input type="reset"	value="reset" class="btn btn-dark">
    </form>
</div>
{{>layouts/footer}}