{{>layouts/header}}
    <!--내용-->
    <h1>{{username}}</h1>
    <button type="button" onclick="location.href='/login/loginForm'"> 로그인 하기 </button>
    <button type="button" onclick="location.href='/logout'"> 로그아웃 </button>
    <button type="button" onclick="location.href='/login/login_signIn'"> 회원가입 </button>
    <button type="button" onclick="location.href='/board'"> 게시판 가기 </button>
    <button type="button" onclick="location.href='/gift'"> 선물 뽑기 가기 </button>
    <button type="button" onclick="location.href='/manager'"> 관리자 페이지 </button>
{{>layouts/footer}}
